.ContentPage {
    position: relative;
    background-color: transparent;
    top: 100px;
}

.Post {
    position: relative;
    width: 600px;
    left: 100px;
    padding: 10px;
    margin: 2em;
    border-radius: 10px;
    box-sizing: border-box;
    background: wheat;
}
.PostHeader {
    font-weight: bold;
    font-size: 20px;
    padding: 10px 10px 0 10px;
}
.PostContent {
    white-space: pre-line;
}